@font-face
{
font-family: Satisfy;
src: url('http://fonts.googleapis.com/css?family=Satisfy');
}
html {width:100%; height:100%;}
body{ width: 100%; height: 100%; background-color:#D1D1D0}
#page {background-color:#D1D1D0;}
#page-header{border-radius:5px; border-style:solid; border-width:5px; width: 96%; margin:0px 11px; min-width:864px; overflow:hidden;
background-image: linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -o-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -moz-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -webkit-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -ms-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.27, rgb(31,26,33)),
	color-stop(0.94, rgb(161,135,166))
);}
.headermain { font-family: 'Satisfy', cursive; color:#DFDFDE;}
.block{ border-style:solid; border-width:5px; border-radius:5px; padding: 0px 5px; margin: 5px 2px 0px 2px;}
.header { color:#DFDFDE; font-weight:bold; padding:5px; width:100%; margin-left:-7px; border-width:5px;border:solid black;
background-image: linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -o-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -moz-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -webkit-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);
background-image: -ms-linear-gradient(top, rgb(31,26,33) 27%, rgb(161,135,166) 94%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.27, rgb(31,26,33)),
	color-stop(0.94, rgb(161,135,166))
); }
a:link, a:visited{ color: #2D2D2C; font-weight:bold;}
#dock, #dock>div { background-color:#D1D1D0; }
#dockeditempanel .dockeditempanel_content{ border:5px solid black; border-radius:5px; box-shadow: 16px 24px 42px #000000;}
.dockeditempanel_bd{ background-color:#E5E5E4; }
.dockeditempanel_hd{ color:#E5E5E4;
background-image: linear-gradient(bottom, rgb(177,53,179) 6%, rgb(97,74,97) 63%);
background-image: -o-linear-gradient(bottom, rgb(177,53,179) 6%, rgb(97,74,97) 63%);
background-image: -moz-linear-gradient(bottom, rgb(177,53,179) 6%, rgb(97,74,97) 63%);
background-image: -webkit-linear-gradient(bottom, rgb(177,53,179) 6%, rgb(97,74,97) 63%);
background-image: -ms-linear-gradient(bottom, rgb(177,53,179) 6%, rgb(97,74,97) 63%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(177,53,179)),
	color-stop(0.63, rgb(97,74,97))
);}
h1,h2,h3{ font-family: 'Satisfy', cursive;}
#page-header .logininfo ,#page-header .logininfo a:link, #page-header .logininfo a:visited{ color:#D1D1D0; }
#page-content .region-content { padding: 0px 10px; }
#region-main .header {border-radius:5px;}
#page-content #region-main-box{ width:196.4%}
#custommenu {margin:5px;}
.yui3-skin-sam .yui3-menu-content, .yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content {border:none; padding:0px; background:none;}
#custommenu li { border-radius:15px; background-color:#A092A8;}
#custommenu li:hover, #custommenu a:hover{ background-color:#BDAEC6; border-radius:15px;}
#custommenu a {border:none;}
.navbar { overflow: visible;	}
.breadcrumb li, .breadcrumb a{ font-weight:bold; text-decoration:none;}
.header a{color:#D1D1D0;}